# Build
bin/
obj/

# User-specific files
*.user
*.suo
*.vs

# Visual Studio / VS Code
.vscode/
.vs/

# EF Core Local DB
*.db

# Appsettings locales / secretos
appsettings.Development.json
appsettings.Local.json

# Otros
*.log